.DS_Store
Thumbs.db
*.sql
*.tar.gz
*.zip

# Development
.editorconfig
.phpcs.xml.dist
.phpcs.xml
phpcs.xml
wp-cli.local.yml
.docs/
.vscode/

# Build Tooling
node_modules/
vendor/

# Testing
.travis.yml
phpunit.xml
phpunit.xml.dist
bin/
tests/
tests/bootstrap.php

# Release
.distignore
.gitignore
.gitattributes
wp-org-svn/
release/
